# Configurações do servidor
PORTA=3000
BASE_URL=http://localhost:3000

# Configurações do banco de dados PostgreSQL
DB_HOST=localhost
DB_PORTA=5432
DB_NOME=encrt
DB_USUARIO=postgres
DB_SENHA=sua_senha_aqui